.input-group-addon:first-child
{
    border-right: 0;
}

.input-group-addon
{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 4px;
}

.input-group-addon .fa
{
    font-size: 18px;
}

.input-group .form-control
{
    position:relative;
    z-index: 2;
    float:left;
    margin-bottom: 0;
}

.input-group .form-control:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.login
{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: lightgrey;
    border-radius: .3rem;
}

.login input
{
    background-color: white;
    border-color: darkgrey;
    border-radius: .4em;
    width: 100%;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 80vw;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    #eventList {
        padding: 0;
        list-style-type: none;
    }

    #eventList li {
        margin-bottom: 15px;
        border: 3px solid #ddd;
        padding: 10px;
    }

    #eventList h3 {
        margin-top: 0;
    }

    .remove-btn {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 601px) {
    #eventList {
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }

    #eventList li {
        flex: 1 1 calc(50% - 20px);
        margin: 10px;
        border: 3px solid #ddd;
        padding: 10px;
    }

    #eventList h3 {
        margin-top: 0;
    }

    .remove-btn {
        display: block;
        width: auto;
        margin-top: 10px;
    }
}